<div class="container">
  <div class="message-wrapper">
    <div class="error">
      <h1 class="error-heading">OOPs</h1>
      <img
        class="error-img"
        src="https://cdn.jsdelivr.net/gh/ahmedhosna95/upload@1731955f/sad404.svg"
        alt=""
      />
    </div>
    <h1 class="message"><%= message %></h1>
  </div>
</div>
